
body {

/*    !*background-image: url("../IMAGES/jumanjigame.jpg");*!*/

/*    background-position: top;*/

    background-color: black;

/*    !*background-repeat: no-repeat;*!*/

/*    color: white;*/

/*    margin-top: 225px;*/

/*    text-align: center;*/

/*    position: center;*/

/*    alignment: center;*/

}

/*div {*/

/*    background-image: url("../IMAGES/jumanjigame.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-color: black ;*/
/*    !*width: 750px;*!*/
/*    !*height: 240px;*!*/
/*}*/